@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-white: #585858;
  --true-white: #ffffff;
  --background: #121215;
  --content-background: #1B2022;
  --menu-background: #5BA5B6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--light-white);
  background: var(--background);
}

* {
  /* overflow: auto; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
